/* Estilos del pie de página */
.footer {
  background-color: #282c34; /* Fondo oscuro */
  color: white; /* Texto blanco */
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo para el contenedor del contenido en el footer */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Espacio entre el logo y el texto */
}

/* Estilo para el logo en el footer */
.footer-logo {
  height: 60px; /* Ajusta el tamaño del logo según tus necesidades */
}

.footer p {
  margin-right: 10px; /* Añade un margen para que no se corte el texto */
  white-space: nowrap; /* Evita que el texto se corte en varias líneas */
  overflow: hidden; /* Asegura que el contenido extra no se muestre */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si es necesario */
}
