/* Estilos del pie de página */
.footer {
  background-image: url('../assets/fondo2.png'); /* Ruta hacia la imagen de fondo */
  background-size: cover; /* Ajustar el tamaño de la imagen de fondo */
  background-position: center; /* Centra la imagen de fondo */
  color: white; /* Asegura que el texto sea legible */
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo para el contenedor del contenido en el footer */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Espacio entre el logo y el texto */
}

/* Estilo para el logo en el footer */
.footer-logo {
  height: 60px; /* Ajusta el tamaño del logo según tus necesidades */
}

.footer p {
  margin-right: 10px; /* Añade un margen para que no se corte el texto */
  white-space: nowrap; /* Evita que el texto se corte en varias líneas */
  overflow: hidden; /* Asegura que el contenido extra no se muestre */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si es necesario */
}
