.projects {
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 8px;
  max-width: 800px;
  margin: 40px auto;
  color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.projects h2 {
  font-size: 2rem;
  color: #61dafb;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  position: relative;
}

.project-list a {
  color: #f0f0f0;
  text-decoration: none;
}

.project-list a:hover {
  color: #61dafb;
}

.details-toggle {
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
  color: #61dafb;
}

.project-details {
  margin-top: 10px;
  padding: 15px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #f0f0f0;
}
